# All idea files
.idea
out/
*.iml
*.ipr

# gradle
gradlew
gradlew.bat
.gradle
**/build/
!src/**/build/

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# misc
*.directory
.DS_Store